DAEMON_LIST = MASTER, STARTD
NETWORK_INTERFACE = {{ansible_default_ipv4.address}}
COUNT_HYPERTHREAD_CPUS = FALSE
STARTER_ALLOW_RUNAS_OWNER = TRUE
UID_DOMAIN = localdomain
NUM_SLOTS = 1
NUM_SLOTS_TYPE_1 = 1
SLOT_TYPE_1 = cpus=100%
SLOT_TYPE_1_PARTITIONABLE = true

